name: Deploy to Host

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Deployment environment"
        required: true
        default: "production"
        type: environment

jobs:
  deploy:
    name: Deploy to VPS
    runs-on: ubuntu-latest
    environment:
      name: ${{ inputs.environment || (github.event_name == 'release' && github.event.action == 'published' && 'preprod' || 'preprod') }}
      url: ${{ github.jobs.deploy.outputs.page_url || vars.PAGE_URL || ''}}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.HOST_SSH_PRIVATE_KEY }}

      - name: Copy .env file to server
        run: |
          echo "Creating .env file on server"
          ssh -o StrictHostKeyChecking=no ${{ secrets.HOST_USER }}@${{ secrets.HOST_NAME }} "echo \"$(cat .env.example | sed 's/example@example.com/${{ vars.N8N_SSL_EMAIL }}/' | sed 's/subdomain/${{ vars.N8N_SUBDOMAIN }}/' | sed 's/example.com/${{ vars.N8N_DOMAIN_NAME }}/' | sed 's/postgres_user/${{ secrets.N8N_POSTGRES_USER }}/' | sed 's/postgres_password/${{ secrets.N8N_POSTGRES_PASSWORD }}/' | sed 's/postgres_db/${{ secrets.N8N_POSTGRES_DB }}/')\" > ${{ vars.HOST_REMOTE_PATH }}/.env"

      - name: Copy docker-compose.yml to server
        run: |
          echo "Copying docker-compose.yml to server"
          scp docker-compose.yml ${{ secrets.HOST_USER }}@${{ secrets.HOST_NAME }}:${{ vars.HOST_REMOTE_PATH }}/docker-compose.yml

      - name: Rebuild and restart Docker Compose services
        run: |
          echo "Rebuilding and restarting Docker Compose services"
          ssh -o StrictHostKeyChecking=no ${{ secrets.HOST_USER }}@${{ secrets.HOST_NAME }} "cd ${{ vars.HOST_REMOTE_PATH }} && docker compose down && docker compose up -d --build"
      - name: Set page URL output
        run: echo "page_url=https://${{ vars.N8N_SUBDOMAIN }}.${{ vars.N8N_DOMAIN_NAME }}" >> $GITHUB_ENV